livekit==0.18.0
livekit-agents==0.11.1
livekit-api==0.7.1
livekit-plugins-deepgram==0.6.9
livekit-plugins-openai==0.10.5
livekit-plugins-rag==0.2.2
livekit-plugins-silero==0.7.3
livekit-plugins-llama-index==0.2.0
livekit-protocol==0.6.0
llama-index==0.11.14
python-dotenv~=1.0
pydantic==2.9.2
msgpack==1.1.0
dacite==1.8.1
